# Java / Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
*.class
*.jar
!gradle-wrapper.jar

# Spring Boot
.mvn/
*.log
logs/

# IDEs
.idea/
*.iml
.vscode/
*.classpath
*.project
*.settings/
.factorypath
nbproject/

# Frontend (Node.js/React)
node_modules/
dist/
dist-ssr/
coverage/
*.local
frontend/.env
frontend/.env.*
!frontend/.env.example

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# System
.DS_Store
Thumbs.db

# Other
*.sw?
*uploads/
/package-lock.json
