# Java / Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
*.class

# Spring Boot
.mvn/
*.log
logs/

# IDEs
.idea/
*.iml
.vscode/
*.classpath
*.project
*.settings/

# Frontend (Node.js/React)
node_modules/
dist/
dist-ssr/
coverage/
*.local

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# System
.DS_Store
Thumbs.db

# Other
*.sw?
*uploads/
*.txt
*.pdf
